@page "/"
    Welcome to your new app.
<div>
    <input type="button" class="btn-primary" value="Unregistered" />

    <AuthorizeView Roles="Admin">
        <input type="button" class="btn-info" value="Admin" />
    </AuthorizeView>

    <AuthorizeView Roles="Admin, User">
        <input type="button" class="btn-danger" value="User" />
    </AuthorizeView>
</div>